/* stylelint-disable font-family-name-quotes */
/* stylelint-disable color-function-notation */
/* stylelint-disable selector-class-pattern */
@import '~normalize.css';
@import './font-awesome-4.7.0/css/font-awesome.min.css';

@font-face {
  font-family: 'Monserat';
  src: url('./fonts/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Monserat';
  src: url('./fonts/Montserrat-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Monserat';
  src: url('./fonts/Montserrat-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Monserat';
  src: url('./fonts/Montserrat-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Monserat';
  src: url('./fonts/Montserrat-Light.ttf') format('truetype');
}

:root {
  --color-blue: #67a0e8;
  --color-white: #fff;
  --color-grey: #bfbfbf;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Monserat', sans-serif;
  background: var(--color-blue);
}

.wrapper {
  padding: 0 15px;
}

.container {
  margin: 50px auto;
  max-width: 450px;
  border-radius: 15px;
  background: #fff;
}

.header {
  border-bottom: 1px solid var(--color-grey);
}

.top {
  display: flex;
  padding: 15px 25px;
  align-items: center;
  color: var(--color-blue);
}

.top__arrow {
  display: none;
  font-size: 40px;
  margin-right: 10px;
  cursor: pointer;
}

.top__title {
  margin: 0;
  font-size: 25px;
  font-weight: 500;
}

.input-block {
  margin: 20px 25px 30px;
}

.input-block__cog {
  color: #0c5460;
  font-size: 30px;
}

.input-block__text_hide {
  display: none;
}

.input-block__text {
  padding: 15px;
  margin-bottom: 15px;
  font-size: 18px;
  text-align: center;
  border-radius: 7px;
}

.input-block__text_error {
  display: block;
  border: 1px solid #f8d7da;
  background: #f8d7da;
  color: #721c24;
}

.input-block__text_pending {
  display: block;
  border: 1px solid #bee5eb;
  background: #d1ecf1;
  color: #0c5460;
}

.input-block :where(input, button) {
  width: 100%;
  height: 55px;
  border: none;
  outline: none;
  border-radius: 7px;
  font-size: 18px;
}

.input-block__input {
  border: 1px solid #bfbfbf;
  text-align: center;
}

.input-block__input:is(:focus) {
  border: 2px solid #43affc;
}

.container-button {
  padding-bottom: 30px;
}

.input-block__button {
  background-color: #43affc;
  color: #fff;
  cursor: pointer;
}

.input-block__separator {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1px;
  width: 100%;
  margin: 25px 0;
  background: #ccc;
}

.input-block__separator::before {
  padding: 0 15px;
  font-size: 19px;
  content: 'или';
  background: #fff;
  color: #ccc;
}

.location {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 15px 0 45px;
}

.location-city {
  display: flex;
  text-align: center;
  font-size: 18px;
  font-weight: 900;
}

.location__icon__title {
  width: 400px;
  text-align: center;
}

.location-city__icon {
  margin-right: 10px;
  font-size: 35px;
  font-weight: 600;
  color: var(--color-blue);
}

.location-city__icon__title {
  font-size: 25px;
  font-size: 35px;
  font-weight: 600;
}

.location__weather-condition {
  padding: 0 0 15px;
  font-size: 18px;
  font-weight: 900;
}

.weather-info {
  padding-top: 20px;
}

.pic-deg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.weather-picture {
  height: 200px;
  width: 250px;
}

.weather-picture__img {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.weather-info__real-temp {
  font-weight: 900;
  font-size: 72px;
  width: 150px;
}

.weather-info__real-temp span {
  font-weight: 500;
  font-size: 80px;
}

.weather-info__details {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 25px;
  border-top: 1px solid var(--color-grey);
  font-size: 20px;
  font-weight: 900;
  text-align: center;
}

.feels-like {
  width: 100%;
  padding: 15px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid var(--color-grey);
}

.feels-like__temp {
  width: 140px;
}

.humidity {
  width: 100%;
  padding: 15px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.humidity__info {
  width: 130px;
}

.weather-info__icon {
  font-size: 24px;
  color: var(--color-blue);
}

.hide {
  display: none;
}

.test {
  width: 300px;
  height: 300px;
}
